body {
  background-image: url('Images/back.jpg');
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
     width: 100vw;
}

h1 {
   font-style: regular;
   font-size: 90px;
   font-style: normal;
   font-weight: normal;
   letter-spacing: normal;
   font-family:Futura;
   color:white;
}


li {
   font-style: normal;
   font-family: Futura;
   font-size: 30px;
   font-weight: 100;
   letter-spacing: 3px;
   line-height: 45px;
   text-transform: none;
   color: white;
   text-align: center;
}

@media (max-width: 414px){
body{
  background-color: #f1f1f1;
  border-radius: 10px;
}
}

@media only screen
and (device-width: 414px)
and (device-height:686px)
and (-webkit-device-pixel-ratio: 3) {
  body {
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 300px;
    height: 300px;
  }
}
