
.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 10);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #F5E3E6;
  grid-auto-rows: minmax(1px, auto);


}
.one {

  grid-row: 1;
  background-color:#8D2E3D;
  width: 100px;
	height: 100px;
  border-radius: 100px;
}

.one1 {

  grid-row: 1;
  width: 100px;
	height: 100px;
  border-radius: 100px;
}


.three {

  grid-row: 3;
  background-color:#690317;
  width:100px;
  height:100px;
  border-radius: 100px;
}

.three1 {

  grid-row: 3;;
  width:100px;
  height:100px;
  border-radius: 100px;
}



.five{

  grid-row: 2;
  background-color: #550312;
  width:100px;
  height:100px;
  border-radius: 100px;

}

.five1{

  grid-row: 2;
  width:100px;
  height:100px;
  border-radius: 100px;

}

.eight{
  grid-row: 4;
  background-color:#8D2E3D;
  width:100px;
  height:100px;
    border-radius: 100px;
}

.nine{

  grid-row: 5;
  background-color:#690317;
  width:100px;
  height:100px;
    border-radius: 100px;

}

.nine1{

  grid-row: 5;
  width:100px;
  height:100px;
    border-radius: 100px;

}

.ten{
  grid-row: 6;
  background-color:#690317;
  width:100px;
  height:100px;
    border-radius: 100px;

}

.ten1{
  grid-row: 6;
  width:100px;
  height:100px;
    border-radius: 100px;

}

.eleven{
  grid-row: 7;
  background-color:#7D2738;
  width:100px;
  height:100px;
    border-radius: 100px;

}

.flip-container {
	perspective: 100px;
}

	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100px;
	height: 100px;

}

.flip-container, .front1, .back1 {
	width: 100px;
	height: 100px;
}

.flip-container, .front2, .back2 {
	width: 100px;
	height: 100px;
}

.flip-container, .front3, .back3 {
	width: 100px;
	height: 100px;
}

.flip-container, .front4, .back4 {
	width: 100px;
	height: 100px;
}


.flipper {
	transition: 0.3s;
	transform-style: preserve-3d;
	position: relative;
}


.front, .back {
	backface-visibility:  visible;

	position: fixed;
	top: 0;
	left: 0;
}


.front {
	z-index: 1;
	transform: rotateY(0deg)translateZ(1px);
  background-color:#7D2738;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  font-size: 80px;
  font-family: Italiana;
  line-height: normal;
  color: white;
  text-align: center;

}

.front1, .back1 {
	backface-visibility: visible;

	position: absolute;
	top: 0;
	left: 0;
}

.front2, .back2 {
	backface-visibility: visible;

	position: absolute;
	top: 0;
	left: 0;
}

.front1 {
  z-index: 1;
	transform: rotateY(0deg)translateZ(1px);
  background-color:#550312;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  font-size: 80px;
  font-family: Italiana;
  line-height: normal;
  color: white;
  text-align: center;
}

.front3, .back3 {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front2 {
  z-index: 1;
	transform: rotateY(0deg) translateZ(1px);
  background-color:#690317;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  font-size: 80px;
  font-family: Italiana;
  color: white;
  text-align: center;
}

.front3 {
  z-index: 1;
	transform: rotateY(0deg) translateZ(1px);
  background-color:#690317;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  font-size: 80px;
  font-family: Italiana;
  color: white;
  text-align: center;
}

.front4, .back4 {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front4 {
  z-index: 1;
	transform: rotateY(0deg);
  background-color:#690317;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  font-size: 80px;
  font-family: Italiana;
  color: white;
  text-align: center;
}

.back {
	transform: rotateY(180deg);
  position: absolute;

}

.back1 {
	transform: rotateY(180deg);
  position: absolute;
}

.back2 {
	transform: rotateY(180deg);
  position: absolute;
}

.back3 {
	transform: rotateY(180deg)translateZ(1px);
  position: absolute;
  z-index: 1;
  font-size: 60px;
  font-family: Italiana;
  color: #690317;
  text-align: center;
}

.back4 {
	transform: rotateY(180deg)translateZ(1px);
  position: absolute;
  z-index: 1;
  width:90px;
  height:80px;
  align-items: center;
}


div{
  animation: rotation 0s linear;
}

@keyframes rotation {
  100%{ transform:rotatey(360deg) }
}


@media (max-width: 414px){
body{
  background-color: #F5E3E6;
  border-radius: 10px;
}
}
@media only screen
and (device-width: 414px)
and (device-height:736px)
and (-webkit-device-pixel-ratio: 3) {

  body {
    background-color: #F5E3E6;
    border-radius: 10px;
    width: 400px;
    height: 700px;
  }
}
